<div class="form">
    <h3>Click on a field to edit</h3>
    <app-edit-input
            [data]="location?.name"
            (focusOut)="updateLocation($event)"
            name="name"
            type="text"
    ></app-edit-input>

    <app-edit-input
            [data]="location?.country"
            (focusOut)="updateLocation($event)"
            name="country"
            type="text"
    ></app-edit-input>
    <div class="form-group btn-wrapper">
        <button class="btn btn-edit" type="submit" (click)="saveChanges()">Save</button>
        <button class="btn btn-delete" type="submit" (click)="deleteLocation()">Delete</button>
    </div>
    <p *ngIf="unsavedChanges">You have unsaved changes</p>
</div>
