<div class="form">
    <h3>Click on a field to edit</h3>
    <app-edit-input
            [data]="event?.name"
            (focusOut)="updateEvent($event)"
            name="name"
            type="text"
    ></app-edit-input>

    <app-edit-select
            *ngIf="event?.company && companies"
            [data]="event.company"
            [options]="companies"
            name="company"
            (focusOut)="updateCompany($event)"
    ></app-edit-select>

    <app-edit-select
            *ngIf="event?.location && locations"
            [data]="event.location"
            [options]="locations"
            name="location"
            (focusOut)="updateLocation($event)"
    ></app-edit-select>
    <div class="form-group btn-wrapper">
        <button class="btn btn-edit" type="submit" (click)="saveChanges()">Save</button>
        <button class="btn btn-delete" type="submit" (click)="deleteEvent()">Delete</button>
    </div>
</div>
