<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
        <label for="username">Username: </label>
        <input class="form-control" type="text" name="username" id="username" formControlName="username">
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input class="form-control" type="password" name="password" id="password" formControlName="password">
    </div>
    <div class="form-group btn-wrapper">
        <button class="btn" type="submit">Login</button>
    </div>
</form>
