<div class="form-group"
    *ngIf="!editMode"
    (click)="editMode=true">
    <label>{{ name | uppercase }}: </label>
    <div class="form-control">
        {{ data.name }}
    </div>
</div>
<ng-container *ngIf="editMode">
    <div class="form-group">
        <label [for]="name">{{ name | uppercase }}: </label>
        <select class="form-control"
            [name]="name"
            [id]="name"
            (focusout)="onFocusOut()"
            (keydown.enter)="$event.target.blur()"
            [(ngModel)]="selectedOption"
            appAutoFocus
        >
            <option *ngFor="let option of options"
                [ngValue]="option">{{ option.name }}</option>
        </select>
    </div>
</ng-container>
