<div class="form-group"
     *ngIf="!editMode"
     (click)="editMode=true">
    <label>{{ name | uppercase }}: </label>
    <div class="form-control">
        {{ data }}
    </div>
</div>
<ng-container *ngIf="editMode">
    <div class="form-group">
        <label [for]="name">{{ name | uppercase }}: </label>
        <input class="form-control"
               (focusout)="onFocusOut()"
               (keydown.enter)="$event.target.blur()"
               [(ngModel)]="data"
               [type]="type"
               [id]="name"
               [name]="name"
               appAutoFocus>
    </div>
</ng-container>
