<div class="pagination-wrapper">
    <div class="pagination">
        <ng-container *ngIf="currentPage !== 1">
            <a class="page-numbers prev" (click)="onPageClick(1)">first</a>
            <a class="page-numbers prev" (click)="onPageClick(currentPage - 1)">prev</a>
        </ng-container>
       <ng-container *ngFor="let page of createRange()">
           <a class="page-numbers" (click)="onPageClick(page)" [class.current]="page === currentPage">{{ page }}</a>
       </ng-container>
        <ng-container *ngIf="currentPage !== lastPage">
            <a class="page-numbers next" (click)="onPageClick(currentPage + 1)">next</a>
            <a class="page-numbers next" (click)="onPageClick(lastPage)">last</a>
        </ng-container>
    </div>
</div>
