// Colors
$white: #fff;
$black: #000;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$green: #86c023;
$blue: #017ac7;

// Transition
$duration: 400ms;
$easing: ease;


a {
    text-decoration: none;
}

.pagination-wrapper {
    text-align: center;
    margin: 40px 0;
}

.pagination {
    display: inline-block;
    height: 70px;
    margin-top: 15px;
    padding: 0 25px;
    border-radius: 35px;
    background-color: #eee;
}

.page-numbers {
    display: block;
    padding: 0 25px;
    float: left;
    transition: $duration $easing;
    color: $grey;
    font-size: 20px;
    letter-spacing: 0.1rem;
    line-height: 70px;

    &:hover,
    &.current {
        background-color: $green;
        color: $white;
    }

    &.prev:hover,
    &.next:hover {
        background-color: transparent;
        color: $green;
    }
}
