<app-add-event *ngIf="addEventMode" [companies]="companies" [locations]="locations" (event)="addEvent($event)"></app-add-event>

<table class="table events">
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Location</th>
        <th>
            <button class="btn" type="button" (click)="changeMode()">
                {{ addEventMode ? 'Hide form' : 'Add event' }}
            </button>
        </th>
    </tr>
    <tr *ngFor="let event of events">
        <td>{{ event.name }}</td>
        <td>{{ event.company.name }}</td>
        <td>{{ event.location.name }}</td>
        <td>
            <button class="btn btn-edit" type="button" (click)="onEventClick(event.id)">Edit</button>
        </td>
    </tr>
</table>

<app-pagination
        [currentPage]="currentPage"
        [lastPage]="lastPage"
        (pageClick)="onPageClick($event)"
></app-pagination>
