<app-add-company  *ngIf="addCompanyMode" [locations]="locations" (company)="addCompany($event)"></app-add-company>


<table class="table companies">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>
            <button class="btn" type="button" (click)="changeMode()">
                {{ addCompanyMode ? 'Hide form' : 'Add company' }}
            </button>
        </th>
    </tr>
    <tr *ngFor="let company of companies">
        <td>{{ company.name }}</td>
        <td>{{ company.location.name }}</td>
        <td>
            <button type="button" class="btn btn-edit" (click)="onCompanyClick(company.id)">Edit</button>
        </td>
    </tr>
</table>

<app-pagination
        [currentPage]="currentPage"
        [lastPage]="lastPage"
        (pageClick)="onPageClick($event)"
></app-pagination>
