button {
    background: transparent;
}

.btn {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding:  10px 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    &.btn-edit {
        color: #fca130;
        border-color: #fca130;
    }

    &.btn-post {
        color: #49cc90;
        border-color: #49cc90;
    }

    &.btn-delete {
        color: #f93e3e;
        border-color: #f93e3e;
    }
}
