form, .form {
    max-width: 600px;
    margin: 30px auto 0;

    .form-group {
        margin-bottom: 1rem;

        &.btn-wrapper {
            display: flex;
            justify-content: flex-end;
        }
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        width: 100%;
        letter-spacing: 0.5px;
        font-size: 1.3rem;
        transition: all ease 0.3s;
        line-height: 1.7;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.875rem 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        transition: all ease 0.3s;
    }
}
