.table {
    width: 100%;
    text-align: left;

    td, th {
        border: 1px solid #ddd;
        padding: 8px 8px 8px 15px;
    }

    th {
        font-size: 20px;
        font-weight: bold;
    }

    td {
        font-size: 16px;
    }
}
