.header {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 30px;
    border-bottom: 1px solid gray;

    a.nav-item {
        text-decoration: none;
        color: gray;
        font-size: 20px;
        font-weight: bold;
    }

    .header_nav {
        display: flex;
        flex-wrap: wrap;
    }

    .header_nav-left {
        width: 50%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .header_nav-right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}
