<div class="header">
    <nav class="header_nav">
        <div class="header_nav-left">
            <div>
                <a class="nav-item" [routerLink]="['/']">Home</a>
            </div>
            <div>
                <a class="nav-item" [routerLink]="['/locations']">Locations</a>
            </div>
            <div>
                <a class="nav-item" [routerLink]="['/companies']">Companies</a>
            </div>
            <div>
                <a class="nav-item" [routerLink]="['/events']">Events</a>
            </div>
        </div>
        <div class="header_nav-right">
            <div *ngIf="currentUser;else login">
                <a class="nav-item" (click)="logout()">Logged in as: {{ currentUser?.username }}</a>
            </div>
            <ng-template #login>
                <div>
                    <a class="nav-item" [routerLink]="['/login']">Login</a>
                </div>
            </ng-template>
        </div>
    </nav>
</div>
