<form [formGroup]="addEventForm" (ngSubmit)="submitEventForm()">
    <div class="form-group">
        <label for="name">Event name: </label>
        <input class="form-control" type="text" name="name" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="company_id">Select a company</label>
        <select class="form-control" id="company_id" formControlName="company_id" name="company_id">
            <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="location_id">Select a location: </label>
        <select class="form-control" name="location_id" id="location_id" formControlName="location_id">
            <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
        </select>
    </div>
    <div class="form-group btn-wrapper">
        <button class="btn btn-post" type="submit">Add event</button>
    </div>
</form>
