<app-add-location *ngIf="addLocationMode" (location)="addLocation($event)"></app-add-location>

<table class="table locations">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>
            <button class="btn" type="button" (click)="changeMode()">
                {{ addLocationMode ? 'Hide form' : 'Add location' }}
            </button>
        </th>
    </tr>
    <tr *ngFor="let location of locations">
        <td>{{ location.name }}</td>
        <td>{{ location.country }}</td>
        <td>
            <button class="btn btn-edit" type="button" (click)="onLocationClick(location.id)">Edit</button>
        </td>
    </tr>
</table>

<app-pagination
    [currentPage]="currentPage"
    [lastPage]="lastPage"
    (pageClick)="onPageClick($event)"
></app-pagination>
