<form [formGroup]="addCompanyForm" (ngSubmit)="submitCompanyForm()">
    <div class="form-group">
        <label for="name">Company name: </label>
        <input class="form-control" type="text" name="name" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="location_id">Select a location: </label>
        <select class="form-control" name="location_id" formControlName="location_id" id="location_id">
            <option selected hidden [value]="null">--Select a location</option>
            <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
        </select>
    </div>
    <div class="form-group btn-wrapper">
        <button class="btn btn-post" type="submit">Add company</button>
    </div>
</form>
