<div class="form">
    <h3>Click on a field to edit</h3>
    <app-edit-input
            [data]="company?.name"
            (focusOut)="updateCompany($event)"
            name="name"
            type="text"
    ></app-edit-input>

    <app-edit-select
            *ngIf="locations && company.location"
            [data]="company?.location"
            [options]="locations"
            name="location"
            (focusOut)="updateLocation($event)"
    ></app-edit-select>
    <div class="form-group btn-wrapper">
        <button class="btn btn-edit" type="submit" (click)="saveChanges()">Save</button>
        <button class="btn btn-delete" type="submit" (click)="deleteCompany()">Delete</button>
    </div>
    <p *ngIf="unsavedChanges">You have unsaved changes</p>
</div>
