<form [formGroup]="addLocationForm" (ngSubmit)="submitLocationForm()">
    <div class="form-group">
        <label for="name">Location name: </label>
        <input class="form-control" type="text" name="name" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="country">Country: </label>
        <input class="form-control" type="text" name="country" id="country" formControlName="country">
    </div>
    <div class="form-group btn-wrapper">
        <button class="btn btn-post" type="submit">Add location</button>
    </div>
</form>
